:root{
    --primary-color:#F7FFF7;
    --secondary-color:#5F5F58;
    --tertiary-color:#343434;
    --heading-font:"Noto Serif",serif;
    --normal-font:"Barlow",sans-serif;
    --style-font:"Dancing Script",cursive;
}

body{
    height:100vh;
    background-color: var(--primary-color);
    margin:0;
}
h1,h2,h3,h4{
    font-family: var(--heading-font);
    padding:5px;
}
p{
    font-family: var(--normal-font);
    padding:2px;
}
li{ 
    font-family: var(--style-font);
    
}
a{
    color:black;
    text-decoration: none;
}
.header-container{
    background-color: var(--secondary-color);
    display:flex;
    justify-content: space-evenly;
    width: 100%;
}
.header_container, footer{
    min-height:60px;
}
.company{
    min-width: 350px;
    display:flex;
    justify-content: space-between;
    margin-left:10px ;
    gap:20px;
}
.logo img{
    width: 150px;
    height: auto;
}
.company{
    display: flex;
    align-items: center;
}
.nav{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    /* width:100%; */
}
.nav li{
    list-style-type: none;
}
main{
    min-height: 90vh;
    width: 100%;
}
.hero-image{
    background-color: beige;
    min-height: 100px;
    box-shadow: 10px 10px 15px 10px rgba(52,52,52,0.2);

}
.utility{
    width:99%;
    display: grid;
    grid-template-columns: 2fr repeat(2,1fr);
    gap:8px;
    margin:0 auto;
}
.events{
    grid-area: 1/1/2/2;
    background-color: aqua;
    border-radius: 5px;
    min-height:70px;
    box-shadow: 10px 10px 15px 10px rgba(52,52,52,0.2);

}
.current-weather{
    grid-area: 1/2/2/3;
    background-color: aqua;
    border-radius: 5px;
    min-height:70px;
    box-shadow: 10px 10px 15px 10px rgba(52,52,52,0.2);
    
}

.weather-forecast{
    grid-area: 1/3/2/4;
    background-color: aqua;
    border-radius: 5px;
    min-height:70px;
    box-shadow: 10px 10px 15px 10px rgba(52,52,52,0.2);
    
}
.current-weather h2,.events h2,.weather-forecast h2{
    background-color: #343434;
    color: var(--primary-color);
    border-radius: 5px 5px 0 0;
    min-height: 10px;
    margin:0;
}
.business-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    gap:20px;
    width:95%;
    margin:35px auto 35px auto;
    /* box-shadow: 10px 10px 15px 10px rgba(52,52,52,0.2); */
    padding: 15px;

}
.card{
    box-shadow: 10px 10px 15px 10px rgba(52,52,52,0.2);
    min-height: 200px;
    background-color: bisque;
    margin:10px;

}

footer{
    display:flex;
    justify-content: space-evenly;
    background-color: var(--secondary-color);

}
.socials{
    display:flex;
    justify-content: space-around;
}
