:root{
    --primary-color:#F7FFF7;
    --secondary-color:#5F5F58;
    --tertiary-color:#343434;
    --heading-font:"Noto Serif",serif;
    --normal-font:"Barlow",sans-serif;
    --style-font:"Dancing Script",cursive;
}

body{
    height:100vh;
    background-color: var(--primary-color);
    margin:0;
}
h1,h2,h3,h4,h5{
    font-family: var(--heading-font);
    padding:5px;
    margin:5px;
}
p{
    font-family: var(--normal-font);
    padding:2px;
    margin: 5px;
}
li{ 
    font-family: var(--style-font); 
    list-style-type: none;
}
a{
    color:black;
    text-decoration: none;
}
.hero-image{
    background-image: url(/chamber/images/chamber-commerce-text-written-torn-paper-163992289.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height:300px ;
    display: block;
}
@media screen and (min-width:676px){
.header-container{
    background-color: var(--secondary-color);
    display:flex;
    justify-content: space-evenly;
    width: 100%;
}
.header_container, footer{
    min-height:60px;
}
.company{
    min-width: 350px;
    display:flex;
    justify-content: space-between;
    margin-left:10px ;
    gap:20px;
}
.logo img{
    width: 150px;
    height: auto;
}
.company{
    display: flex;
    align-items: center;
}
.name{
    color:var(--primary-color);

}
.name p{
    text-align: center;
}
nav{
    display:flex;
    justify-content: center;
    align-items: center;
}
.nav-container{
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.nav{
    display:flex;
    justify-content: space-evenly;
    gap: 15px;
}
a{
    color: var(--primary-color);
}
.info a,.list-item a{
    color: var(--tertiary-color);
}

a:hover{
    background-color: var(--primary-color);
    color:var(--tertiary-color);
}

main{
    min-height: 90vh;
    width: 100%;
}
.hero-image{
    background-color: beige;
    min-height: 100px;
    box-shadow: 10px 10px 15px 10px rgba(52,52,52,0.2);

}
#main-content{
    display:grid;
    grid-template-columns: repeat(2,1fr);

    
}
#form-container{
    width: 100%;
    grid-column: 1/2;
    margin: 0 auto;
    
}
#form{
width: 70%;
margin:3em auto;

}
label{
    display:block;
    margin-top: 2em;
}
label p{
    font-weight: bold;
}
#form button{
    width:60%;
    height: 35px;
    background-color: var(--tertiary-color);
    color:var(--primary-color);
    display:block;
    margin-top: 1em;
    
}
input,select{
    display: block;
    width:250px;
    height: 20px;
}
textarea{
    display: block;
    
}
span{
    color:red;
}
.card-container{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}


.membership-level{
    width:90%;
    height:85px;
    margin:2em auto;
    border-radius:5px;
    background-color: var(--secondary-color);
    box-shadow:0 0 15px 5px rgba(52,52,52,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.membership-level h3{
    text-align: center;
    color: var(--primary-color)

}
.membership-level a{
    display:block;
    width: 50%;
    margin:5px auto;
    border-radius: 5px;
    border:0.5px solid var(--tertiary-color);
    background-color: var(--primary-color);
    color:var(--tertiary-color);
    text-align:center;
}

dialog {
  padding: 2rem;
  border: none;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

dialog::backdrop {
  background: rgba(0,0,0,0.5);
}

.close-btn {
  margin-top: 1rem;
  padding: .5rem 1rem;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);

}
.socials{
    display:flex;
    justify-content: space-around;
}
.social{
    width:60px;
    height: auto;
}

}

 @media screen and (max-width:675px) {
    .header-container{
    background-color: var(--secondary-color);
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
.header_container, footer{
    min-height:60px;
}
.company{
    min-width: 350px;
    display:flex;
    justify-content: space-evenly;
    margin-left:10px ;
    gap:20px;
}
.name{
    color: var(--primary-color);
}
.name p{
    text-align: center;
}
.logo{
    max-width: 200px;
}
.logo img{
    min-width: 100px;
    max-width: 150px;
    height: auto;
}
.company{
    display: flex;
    align-items: center;
}
.nav-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}
a{
    color: var(--primary-color);
}
.info a,.list-item a{
    color: var(--tertiary-color);
}
a:hover{
    background-color: var(--primary-color);
    color:var(--tertiary-color);
}
.hide{
    display:none;
}
.hide.show{
    display: block;
}
.ham::before{
    content:"\2630";

}
.ham.close::before{
     content: "\00D7";
}
.nav li{
    list-style-type: none;
}
main{
    min-height: 90vh;
    width: 100%;
}
.hero-image{
    background-color: beige;
    min-height: 100px;
    box-shadow: 10px 10px 15px 10px rgba(52,52,52,0.2);

}
#main-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 1em;

}
#form-container{
    width: 70%;
    margin: 0 auto;
}
#form{
width: 90%;
margin:1em auto;
min-width: 200px;

}
label{
    display:block;
    margin-top: 1em;
}
label p{
    font-weight:bold;
}
#form button{
    width:60%;
    height: 35px;
    background-color: var(--tertiary-color);
    color:var(--primary-color);
    display:block;
    margin-top: 1em;

}
input,select,textarea{
    display: block;

}
span{
    color:red;
}

.membership-level{
    width:60%;
    min-height:45px;
    margin:2em auto;
    border-radius:5px;
    background-color: var(--secondary-color);
    box-shadow:0 0 15px 5px rgba(52,52,52,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap :5px;
}
.membership-level h3{
    text-align: center;
    color: var(--primary-color)

}
.membership-level a{
    display:block;
    width: 50%;
    margin:5px auto;
    border-radius: 5px;
    border:0.5px solid var(--tertiary-color);
    background-color: var(--primary-color);
    color:var(--tertiary-color);
    text-align:center;
}
dialog {
  padding: 2rem;
  border: none;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

dialog::backdrop {
  background: rgba(0,0,0,0.5);
}

.close-btn {
  margin-top: 1rem;
  padding: .5rem 1rem;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 25px;
    background-color: var(--secondary-color);
    color: var(--primary-color);

}
.socials{
    display:flex;
    justify-content: space-around;
}
.social{
    width:60px;
    height: auto;
}
    
 }