:root{
    --primary-color:#F7FFF7;
    --secondary-color:#5F5F58;
    --tertiary-color:#343434;
    --heading-font:"Noto Serif",serif;
    --normal-font:"Barlow",sans-serif;
    --style-font:"Dancing Script",cursive;
}

body{
    height:100vh;
    background-color: var(--primary-color);
    margin:0;
}
h1,h2,h3,h4,h5{
    font-family: var(--heading-font);
    padding:5px;
    margin:5px;
}
p{
    font-family: var(--normal-font);
    padding:2px;
    margin: 5px;
}
li{ 
    font-family: var(--style-font); 
    list-style-type: none;
}
a{
    color:black;
    text-decoration: none;
}
.hero-image{
    background-image: url(/chamber/images/chamber-commerce-text-written-torn-paper-163992289.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height:300px ;
    display: block;
}
@media screen and (min-width:676px){
.header-container{
    background-color: var(--secondary-color);
    display:flex;
    justify-content: space-evenly;
    width: 100%;
}
.header_container, footer{
    min-height:60px;
}
.company{
    min-width: 350px;
    display:flex;
    justify-content: space-between;
    margin-left:10px ;
    gap:20px;
}
.logo img{
    width: 150px;
    height: auto;
}
.company{
    display: flex;
    align-items: center;
}
.name{
    color:var(--primary-color);

}
.name p{
    text-align: center;
}
nav{
    display:flex;
    justify-content: center;
    align-items: center;
}
.nav-container{
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.nav{
    display:flex;
    justify-content: space-evenly;
    gap: 15px;
}
a{
    color: var(--primary-color);
}
.info a,.list-item a{
    color: var(--tertiary-color);
}

a:hover{
    background-color: var(--primary-color);
    color:var(--tertiary-color);
}

main{
    min-height: 90vh;
    width: 100%;
}
.hero-image{
    background-color: beige;
    min-height: 100px;
    box-shadow: 10px 10px 15px 10px rgba(52,52,52,0.2);

}
.application-info{
    width :70%;
    min-height: 100px;
    margin:20px auto;
    padding:5px;
    box-shadow: 10px 10px 15px 10px rgba(52,52,52,0.2);
    border-radius: 5px;
}
.application-info p{
    color: var(--tertiary-color);
}
footer{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);

}
.socials{
    display:flex;
    justify-content: space-around;
}
.social{
    width:60px;
    height: auto;
}


}

 @media screen and (max-width:675px) {
    .header-container{
    background-color: var(--secondary-color);
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
.header_container, footer{
    min-height:60px;
}
.company{
    min-width: 350px;
    display:flex;
    justify-content: space-evenly;
    margin-left:10px ;
    gap:20px;
}
.name{
    color: var(--primary-color);
}
.name p{
    text-align: center;
}
.logo{
    max-width: 200px;
}
.logo img{
    min-width: 100px;
    max-width: 150px;
    height: auto;
}
.company{
    display: flex;
    align-items: center;
}
.nav-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}
a{
    color: var(--primary-color);
}
.info a,.list-item a{
    color: var(--tertiary-color);
}
a:hover{
    background-color: var(--primary-color);
    color:var(--tertiary-color);
}
.hide{
    display:none;
}
.hide.show{
    display: block;
}
.ham::before{
    content:"\2630";

}
.ham.close::before{
     content: "\00D7";
}
.nav li{
    list-style-type: none;
}
main{
    min-height: 90vh;
    width: 100%;
}
.hero-image{
    background-color: beige;
    min-height: 100px;
    box-shadow: 10px 10px 15px 10px rgba(52,52,52,0.2);

}
.application-info{
    width :70%;
    min-height: 100px;
    margin:0 auto;
    box-shadow: 10px 10px 15px 10px rgba(52,52,52,0.2);
    border-radius: 5px;
}

footer{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 25px;
    background-color: var(--secondary-color);
    color: var(--primary-color);

}
.socials{
    display:flex;
    justify-content: space-around;
}
.social{
    width:60px;
    height: auto;
    
 }
}