:root{
    --header-font: "Roboto", sans-serif;
    --primary-font:"Roboto Slab", serif;
    --secondary:#2A2B2A;
    --primary:#F8F4E3;
    --third:#706C61;
;
}
*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
    
}
h1,h2,h3,h4{
    font-family: var(--header-font);
}
p,span,li{
    font-family: var(--primary-font);
}
a{
    color: var(--primary);
    text-decoration: none;
}
a:hover{
    background-color: var(--primary);
    color:var(--secondary)
}

@media screen and (min-width: 768px)
{
    body{
        width:100%;
        min-height: 400px;
        margin-bottom:2px;
    }
    .header-container{
        display: flex;
        justify-content:flex-start;
        gap:15px;
        background-color: var(--primary);
        padding:2px;
    }
    .logo{
        padding-left: 10px;
      
    }
    .logo img{
        width: 150px;
    }
    .site-name{
        display:flex;
        justify-content: center;
        align-items: center; 
    }
    nav{
        background-color: var(--secondary);
    }
    nav ul{
        display:flex;
        justify-content:flex-start;
        gap:15px;
        color:var(--primary);
        padding:5px 5px; 
    }
    nav ul li{
        list-style-type:none;
    }
    main{
        width:99%;
        margin:0 auto 10px auto;
        display:grid;
        column-gap:15px;
        row-gap:5px;
        grid-template-areas: 
        "head head"
        "profile student"
        "courses courses";
        grid-template-columns: 65% 1fr;
        grid-template-rows: 40px minmax(200px,auto) minmax(30px,auto);
    }
    .page-name{
        grid-area:head;
    }
    .profile{
        grid-area: profile;
        width:100%;
        box-shadow: 5px 5px 15px 5px rgba(112, 108, 97,0.5); 
        border-radius: 5px;
    }
    .title{
        border-radius: 5px 5px 0 0;
        width:100%;
        background-color: var(--secondary);
        color: var(--primary);
        margin:0;
        text-align: center;
    }
     .content,.course-list{
        padding:5px;
    }
    .student-photo{
        grid-area:student ;
        width:100%;
        min-width: 100px;
        box-shadow:5px 5px 15px 10px rgba(112, 108, 97,0.5);
        border-radius: 5px;
    }
    .student-img{
        margin:0 auto;
        padding:10px;
    }
    .student-img img{
        display:block;
        height: auto;
        width:50%;
        margin:0 auto;
        box-shadow: 5px 5px 15px 5px rgba(112, 108, 97,0.5);
    }
    .courses{
        grid-area:courses;
        width:100%;
        min-height:100px;
        box-shadow: 20px 10px 15px rgba(112, 108, 97,0.5);
        border-radius: 5px;
        margin:5px auto;
    }
    .courses h2{
        text-align: center;
    }
    .subject-container{
        margin:10px auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height:70px;
    }
    .subject{
        background-color: var(--primary);
        color:black;
        height: 50%;
        width:20%;
        border-radius:5px;
        box-shadow: 10px 10px 35px 1px rgba(112, 108, 97,0.5);
        text-align: center;
        display:flex;
        justify-content: center;
        align-items: center;

    }
    .subject p{
        margin:auto auto;
    }
    .message{
        margin:5px;
        text-align: center;
    }
    .course-list{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        min-height: 150px;
    }
    .completed-course{
        background-color: gray;
        color: black;
        width:25%;
        min-height:70px;
        border-radius:5px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .course{
        background-color: lightgrey;
        color: var(--secondary);
        width:25%;
        min-height:70px;
        border-radius:5px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    footer{
        background-color: var(--primary);
        min-height:70px;
        margin-top:15px;
        padding:5px;
    }
    footer div
    {
        text-align:center;
        font-family: var(--primary-font);
    }
    .socials{
        display:flex;
        justify-content: center;
        align-items: center;
        gap:5px;
    }
    footer div:nth-child(2)
    {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        font-family: var(--primary-font);
    }

}



@media screen and (max-width: 767px){
     body{
        width:100%;
        min-height: 400px;
        margin-bottom:2px;
    }
    .header-container{
        display: flex;
        justify-content:flex-start;
        gap:15px;
        background-color: var(--primary);
        padding:2px;
        width: 100%;
    }
    .logo{
        padding-left: 10px;
      
    }
    .logo img{
        width: 150px;
    }
    .site-name{
        display:flex;
        justify-content: center;
        align-items: center; 
    }
    nav{
        background-color: var(--secondary);
        min-height: 20px;
        
    }
    .hide.show{
        display:block;
    }
    .nav.close::before{
        content: "\00D7";
        color:var(--primary);
    }
    .hide{
        display:none;
    }
    nav ul{

        color:var(--primary);
        padding:2px;
    }
    .nav::before{
        content:"\2630";
        color:var(--primary);
    }
    nav ul li{
        text-align: center;
        list-style-type:none;
    }
    .show.hide li:hover{
        color: var(--secondary);
        background-color: var(--primary);
    }
    main{
        width:99%;
        margin:0 auto;
        display:grid;
        column-gap:15px;
        row-gap:5px;
        grid-template-areas: 
        "head "
        "profile"
        "student"
        "courses";
        grid-template-columns:1fr;
        grid-template-rows: 40px minmax(200px,auto) minmax(30px,auto);
    }
   
    .page-name{
        grid-area:head;
    }
    .profile{
        grid-area: profile;
        width:100%;
        box-shadow: 5px 5px 15px 5px rgba(112, 108, 97,0.5); 
        border-radius: 5px;
    }
    .title{
        border-radius: 5px 5px 0 0;
        width:100%;
        background-color: var(--secondary);
        color: var(--primary);
        margin:0;
        text-align: center;
    }
    .content,.course-list{
        padding:5px;
    }
    .student-photo{
        grid-area:student ;
        width:100%;
        min-width: 100px;
        box-shadow:5px 5px 15px 10px rgba(112, 108, 97,0.5);
        border-radius: 5px;
    }
    .student-img{
        margin:0 auto;
        padding:10px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .student-img img{
        display:block;
        height: auto;
        width:40%;
        margin:0 auto;
        box-shadow: 5px 5px 15px 5px rgba(112, 108, 97,0.5);
    }
    .courses{
        grid-area:courses;
        width:100%;
        min-height:50px;
        box-shadow: 20px 10px 15px rgba(112, 108, 97,0.5);
        border-radius: 5px;
    }
    .courses h2{
        text-align: center;
    }
    .subject-container{
        margin:10px auto;
        display: flex;
        justify-content: space-around;
    }
    .subject{
        background-color: var(--primary);
        color:black;
        height: 50px;
        width:20%;
        border-radius:5px;
        box-shadow: 20px 10px 15px rgba(112, 108, 97,0.5);
        text-align: center;
        display:flex;
        justify-content: center;
        align-items: center;

    }
    .subject p{
        margin:auto auto;
        min-height: 10px;
    }
     .message{
        margin:5px;
        text-align: center;
    }
    .course-list{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        min-height: 150px;
    }
    .completed-course{
        background-color: gray;
        color: black;
        width:65%;
        min-height:40px;
        border-radius:5px;
        display:flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    .course{
        background-color: lightgrey;
        color: var(--secondary);
        width:65%;
        min-height:40px;
        border-radius:5px;
        display:flex;
        justify-content: center;
        align-items: center;
        margin:5px;
    }
    footer{
        background-color: var(--primary);
        min-height:70px;
        margin-top:15px;
        padding:5px;
    }
    footer div
    {
        text-align:center;
    }
     footer div:nth-child(2)
    {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        font-family: var(--primary-font);
    }
    .socials{
        display: flex;
        justify-content: center;
        column-gap: 10px;
    }


}
