*{
    text-align: center;
}
body{
    margin:0;
    padding:0;
    min-height: 100vh;
}
main{
    padding:20px;
    min-height: 60%;
    width:100%;
    box-sizing: border-box;
}


#cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 0 15px rgba(112, 108, 97,0.5);
}
.card{
    background-color: aliceblue;
    box-shadow: 0 0 15px rgba(112, 108, 97,0.5);

 }