:root {
    --main-color:#9AC4F8;
    --secondary-color:#D6F8D6;
    --h-font: ancizar,sans-serif;
    --text-font: ancizar, serif;
    --primary-text-color: #000000;
    --secondary-text-color:#121619;
    --accent1:#ffffff;
    --accent2:#CDC1FF;  
}

/* for the large screen */
@media screen and ( min-width: 921px) {
    *{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    display:flex;
    flex-direction: column;
    width:100%;
} 
header{
    width:100%
} 
.city p{
    font-family: var(--text-font);

}   
.profile {
    width:100%;
    min-height: 250px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--secondary-text-color);
}  
.profile img{
    width:150px;
    /* height:auto; */
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 10px 5px 70px 1px rgba(255,255,255,0.5);
}
.profile span{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    font-family: var(--h-font);
    font-size: xx-large;
    color:var(--accent1);
}
.ham{
    min-height: 70px; 
    background-color: var(--main-color);
}
.navigation{
     display:block;
}
.navigation ul{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    padding-top: 25px;    
}
.navigation ul li{
    list-style-type: none;
}
.navigation ul li a{
    color:var(--secondary-text-color);
    text-decoration: none;
    font-family: var(--h-font);
    
}
.navigation ul li a:hover{
    border:1px solid black;
}
h1{
    text-align: center;
    font-family: var(--h-font);
}
.container1{
    display:grid;
    grid-template-columns: 3fr 2fr;
    gap:2em;
    margin:0 2em 2em 2em;
}
.sec1{  
    grid-area:1/1/2/2;
    min-height: 20em;
    box-shadow: 10px 5px 70px 1px rgba(0,0,0,0.5);
    border-radius: 8px 8px;
    
}
.courselist {
    margin-top:3em;
    width:80%;
    height:auto;
}
.courselist ul{
    width:80%;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.sec2{
    grid-area:1/2/2/3;
    min-height: 20em;
    border-radius: 8px 8px;
    box-shadow: 10px 5px 70px 1px rgba(0,0,0,0.5);  
}
.city{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:2em;
}
.sec2 img{
    object-fit: cover;
    height: auto;
    width:300px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 10px 5px 70px 1px rgba(0,0,0,0.5);
}

.sec3{
    margin: 0 auto;
    min-height: 20em;
    width:80%;
    box-shadow: 10px 5px 70px 1px rgba(0,0,0,0.5);
    border-radius: 8px 8px;
}
.num{
    display: block;
    text-align: center;
}
.sec3 h2,.sec2 h2,.sec1 h2{
    background-color: var(--main-color);
    min-height:2em;
    border-radius: 8px 8px 0 0;
    text-align: center;
    padding-top:0.5em;
    font-family: var(--h-font);
}

.filter{
    margin:0.5em 0;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1em;
    height:2em;
}

.filter p{
    background-color: #000000;
    color:#ffffff;
    min-height:1.5em;  
    min-width: 6em; 
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin:0.5 auto;
}
.filter p:hover{
    box-shadow: 10px 5px 15px 1px rgba(0,0,0,0.5);
}
#courseslist{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    flex:1 1 auto;
    padding:1em;
}
.complete{
    min-height: 4em;
    min-width:15em;
    text-align: center;
    border-radius:10px;
    background-color: #CDC1FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1em;
}
.notcomp{
    min-height: 4em;
    min-width:15em;
    text-align: center;
    border-radius:10px;
    background-color:rgb(145, 62, 62);
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1em;
}

footer{
    background-color: var(--secondary-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    margin-top: 1em;
}   
footer p{
    color:var(--accent1);
    font-family: var(--h-font);
}
}

/* for the small screen */
@media screen and (max-width: 920px){
    *{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
    body{
    display:flex;
    flex-direction: column;
    min-width:100%;
} 
.city p,.sec3>p{
    font-family: var(--text-font);

}  
header{
    min-width:100%
} 
.profile {
    width:100%;
    min-height: 250px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--secondary-text-color);
}  
.profile img{
    width:25%;
    object-fit: cover;
    height: auto;
    margin:2em;
    border-radius: 10px;
    box-shadow: 10px 5px 70px 1px rgba(255,255,255,0.5);
}
.profile span{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    font-family: var(--h-font);
    font-size: xx-large;
    color:var(--accent1);
    width: 40%;
}
.show.navigation ul{

    margin:0 auto;
    text-align: center;
}

.show.navigation ul li{
    display:block;
    margin: 1em auto;
}
.show.navigation ul li:hover {
    display: block;
    background-color:var(--accent2);  
}
.ham{
    min-height: 2em; 
    background-color: var(--main-color);
}
.ham::before{
    content:"⇶";
}
.ham.show::before{
     content:"X";
}

.navigation.hide {
    display:none;
 }

.navigation ul li{
    list-style-type: none;
}
.navigation ul li a{
    color:var(--secondary-text-color);
    text-decoration: none;
    font-family: var(--h-font);
    
}

h1{
    text-align: center;
    font-family: var(--h-font);
}

.sec1{  
    min-height: 20em;
    box-shadow: 10px 5px 70px 1px rgba(0,0,0,0.5);
    border-radius: 8px 8px;
    width:90%;
    margin:0 auto;
    
}
.courselist {
    margin-top:3em;
    width:80%;
    height:auto;
}
.courselist ul{
    width:80%;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.sec2{
    width: 90%;
    min-height: 20em;
    border-radius: 8px 8px;
    box-shadow: 10px 5px 70px 1px rgba(0,0,0,0.5); 
    margin:0 auto; 
    margin-top:1em;
    margin-bottom: 2em;
}
.city{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:2em;
}
.city p{
    
    width:50%;
    margin:0 auto;
    margin-bottom: 1em;
    text-align: center;
    
}
.sec2 img{
    object-fit: cover;
    height: auto;
    width:60%;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 10px 5px 40px 1px rgba(0,0,0,0.5);
}

.sec3{
    margin: 0 auto;
    min-height: 20em;
    box-shadow: 10px 5px 70px 1px rgba(0,0,0,0.5);
    border-radius: 8px 8px;
    width:90%;
}

.sec3 h2,.sec2 h2,.sec1 h2{
    background-color: var(--main-color);
    min-height:2em;
    border-radius: 8px 8px 0 0;
    text-align: center;
    padding-top:0.5em;
    font-family: var(--h-font);
}
.num{
    display: block;
    text-align: center;
}

.filter{
    margin:0.5em 0;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1em;
    height:2em;
}

.filter p{
    background-color: #000000;
    color:#ffffff;
    min-height:1.5em;  
    min-width: 6em; 
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin:0.5 auto;
}
.filter p:hover{
    box-shadow: 10px 5px 15px 1px rgba(0,0,0,0.5);
}
#courseslist{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    flex:1 1 auto;
    padding:1em;
}
.complete{
    min-height: 4em;
    min-width:15em;
    text-align: center;
    border-radius:10px;
    background-color: #CDC1FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1em;
}
.notcomp{
    min-height: 4em;
    min-width:15em;
    text-align: center;
    border-radius:10px;
    background-color:rgb(145, 62, 62);
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1em;
}

footer{
    background-color: var(--secondary-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    margin-top: 1em;
}   
footer p{
    color:var(--accent1);
    font-family: var(--h-font);
}

}